.container-input{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.input{
    display: block;
    margin-bottom: 50px;
}
.control{
    display: block;
    margin-bottom: 50px;
}
.is-loading {
    display: block;
    background: url(../../assets/loading.gif) no-repeat center ;
    background-size: contain; /*cover*/
    height: 15px;
    width: 15px;
    
}